body {
    font-family: Arial, sans-serif;
    background-color: #a7a7b3;
    color: #333;
    margin: 0;
    padding: 0;
}
h1, h2 {
    text-align: center;
}
.form-container {
    max-width: 650px; /* Ancho máximo */
    margin: 20px auto; /* Centrado horizontalmente */
    padding: 20px auto 0px auto; /* Espacio interno */
    background-color: #fff; /* Color de fondo */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 650px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
input[type="url"], select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="url"] {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    box-sizing: border-box;
}
select {
    min-width: 150px; /* Ancho ajustado para Desktop y Mobile */
}
button {
    min-width: 120px; /* Ancho mínimo para "Get Metrics" */
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #45a049;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.success {
    color: green;
}
/* Diseño para las categorías */
/* .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} */
.checkbox-group {
    display: grid; /* Utiliza grid para organizar los elementos */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    gap: 10px; /* Espacio entre elementos */
    row-gap: 15px;
    justify-items: center; /* Centra los elementos horizontalmente */
}

/* Agrega un estilo para el div que contiene el checkbox "Check / Uncheck All" */
.check-all-container {
    margin-top: 5px; /* Espacio encima del checkbox */
    text-align: center; /* Centrado horizontalmente */
    display: flex; /* Utiliza flexbox para organizar los elementos */
    align-items: center; /* Alinea verticalmente el checkbox y la etiqueta */
    justify-content: center; /* Centra los elementos horizontalmente */
}
.checkbox-group div {
    display: flex;
    align-items: center; /* Alinea verticalmente el checkbox y la etiqueta */
}
.checkbox-group label {
    margin: 0;
}
.categories-label {
    margin-bottom: 20px;
    margin-top: 20px; 
}
/* Selector y botón en la misma línea y centrados */
.strategy-container {
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    margin-top: 35px;
}

.strategy-label {
    margin-bottom: 5px; /* Espacio entre el label y el select */
    font-weight: bold;
    text-align: center;
}

.strategy-container select,
.strategy-container button {
    margin: 5px 0; /* Espacio entre el selector y el botón */
    min-width: 120px; /* Garantiza el ancho mínimo */
}

.strategy-container button {
    margin-top: 25px; /* Espacio extra encima del botón */
}
 /* Estilo para centrar el spinner */
#loading {
    display: none;
    position: relative;
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-top: 15px;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .checkbox-group {
        grid-template-columns: 1fr; /* Una columna en dispositivos pequeños */
    }
    .strategy-container {
        flex-direction: column; /* Selector y botón apilados */
        align-items: stretch;
    }
}
#metricsTable {
width: 40%;
margin: 20px auto 50px auto;
border-collapse: collapse;
}
#metricsTable th, #metricsTable td {
    padding: 10px;
    text-align: left;
}
#metricsTable th {
    background-color: #2c3e50;
    color: white;
}
#metricsTable td {
    background-color: #34495e;
    color: white;
}
#metricsTable tr:nth-child(even) {
    background-color: #2c3e50;
}
#metricsTable_wrapper {
    background-color: #1c2833;
    padding: 15px;
    border-radius: 8px;
    max-width: 650px; /* Ajusta el ancho máximo */
    margin: 20px auto; /* Centra la tabla horizontalmente */
}
.dataTables_filter input {
    background-color: #2c3e50;
    color: white;
    border: 1px solid #7f8c8d;
    padding: 5px;
}
.dataTables_paginate a {
    color: white;
    background-color: #2c3e50;
    border: 1px solid #7f8c8d;
    padding: 5px;
}
.dataTables_paginate a:hover {
    background-color: #34495e;
}
.error {
            color: red; /* Texto rojo para errores */
            font-size: 0.9em; /* Tamaño de fuente más pequeño */
            margin-top: 5px; /* Espacio superior para separar del elemento anterior */
        }
.new-tabs .tab-container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    border-bottom: 2px solid #ccc;
}

.new-tabs .tabs {
    list-style: none;
    padding: 0 auto 0 auto;
    display: table;
    margin: 0 auto 0 auto;
    border-bottom: 1px solid #ccc;
}
.tabs {
    padding: 0 auto 0 auto;
    margin: 0 auto 0 auto;
}

.new-tabs .tabs li {
    display: inline-block;
    margin-right: 10px;
}

.new-tabs .tabs a {
    text-decoration: none;
    color: #337ab7;
}

.new-tabs .tabs li.active a {
    color: #23527c;
    border-bottom: 2px solid #23527c;
}

.new-tabs .tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.new-tabs .tab.active {
    border-bottom: 3px solid black;
    font-weight: bold;
}

.new-tabs .tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

.new-tabs .tab-content.active {
    display: block;
}

.new-tabs .tab-pane {
    display: none;
}

.new-tabs .tab-pane.active {
    display: block;
}           

